@model SuperheroCreator.Models.Superhero

@{
    ViewData["Title"] = "Details";
}

<h1>View</h1>

<div>
    <h4>Superhero</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.AlterEgoFirstName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.AlterEgoFirstName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.AlterEgoLastName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.AlterEgoLastName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Ability)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Ability)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.SecondAbility)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.SecondAbility)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Catchphrase)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Catchphrase)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
