
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<SuperheroCreator.Models.Superhero>

<h1>All Superheros</h1>

<tbody>
    <br />
    @foreach (var super in Model)
    {
        <div>
            <h4>
                <a asp-action="Details" asp-route-id="@super.Id">
                    @Html.DisplayFor(modelItem => super.Name)
                </a>
            </h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Ability)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(modelItem => super.Ability)
                </dd>
                <dd class="col-sm-2">
                    <a asp-action="Details" asp-route-id="@super.Id">Details</a>
                </dd>
                <dd class="col-sm-2">
                    <a asp-action="Edit" asp-route-id="@super.Id">Edit</a>
                </dd>
                <dd class="col-sm-2">
                    <a asp-action="Delete" asp-route-id="@super.Id">Delete</a>
                </dd>
            </dl>
        </div>
    }
    <br />
    <br />
</tbody>